.about-us {
  padding: $spacing-large 0;
  background: $primary-color;


  h2{
    color: $font;
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 560px;
    justify-content: center;

    @include respond-to(medium) {
 
    }
  }

  &__image {
    position: absolute;


    img {
      width: initial;
    }
  }

  &__text {
    @include respond-to(large) {
      width: 70%; 
    }

    h1{
      color: $ligt-brown;
    }

    & p{
      font-size: 1.5rem;
      color: $dark-brown;
    }




  }
}
