.about-us {
  padding-top: $spacing-large 0;
  background: $primary-color;


  h2{
    color: $font;
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 560px;
    justify-content: center;

    @include respond-to(medium) {
 
    }
  }

  &__image {
    position: absolute;
    bottom: -7px;
    right: 0;


    img {
      width: initial;
      position: relative;
      z-index: 1;
      display: none;

      @include respond-to(large) {
        display: block;
      }
    }
  }

  &__text {
    position: relative;
    z-index: 2;

    @include respond-to(large) {
      width: 70%; 
    }

    h1{
      color: $light-brown;
    }

    & p{
      font-size: 1.5rem;
      color: $dark-brown;
    }




  }
}
