.button {
  display: inline-block;
  padding: $spacing-small $spacing-medium;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  display: flex;
  cursor: pointer;
  transition: background-color 0.1s ease, color 0.1s ease;
  width: max-content;


  &--primary {
    background-color: $green;
    color: #fff;

    &:hover, &:focus {
      background-color: black;
    }
  }

  &--secondary {
    background-color: #fff;
    color: $primary-color;
    border: 2px solid $primary-color;

    &:hover, &:focus {
      background-color: $primary-color;
      color: #fff;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}