.contact{


    .contact__content{
        display: flex;
        flex-flow: column;
        gap: 24px;
    }

    .contact__block{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 20px 24px;
        background-color: #ffffff;
        border: 1px solid #e0ddd7;
        width: auto;
    }

    h3{
        text-transform: initial;
    }
}