.header {
  padding: $spacing-medium 0;
  background: $primary-color;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
    height: 60px;

    img{
      width: 100%;
      max-height: 80px;
    }
  }

  &__nav {
    display: none;

    @include respond-to(medium) {
      display: block;
    }

    &--open {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: $background-color;
      padding: $spacing-medium;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: $spacing-small;

      @include respond-to(medium) {
        flex-direction: row;
        gap: $spacing-medium;

        a{
          font-weight: 200;
          color: white;
        }
      }
    }
  }

  &__menu-toggle {
    display: block;
    background: none;
    border: none;
    cursor: pointer;

    @include respond-to(medium) {
      display: none;
    }

    span {
      display: block;
      width: 25px;
      height: 3px;
      background-color: $primary-color;
      margin: 5px 0;
    }
  }
}