.mandatory-reporting {
  padding: $spacing-large 0;
  background: white;

  ul{
    li{
      list-style: initial;
    }
  }

  a {
    color: $dark-brown;
    text-decoration: underline;
    transform: all 200ms;
    background: none;

    &:hover {
      background: $light-green;
      color: $dark-green;
    }
  }

  &__text {
    position: relative;
    z-index: 2;

    @include respond-to(large) {
      width: 70%; 
    }

    h1{
      color: $light-brown;
    }

    & p{
      font-size: 1.5rem;
      color: $dark-brown;
    }

    
  }
}
