@mixin respond-to($breakpoint) {
  @if $breakpoint == xs {
    @media (min-width: $breakpoint-xs) { @content; }
  } @else if $breakpoint == small {
    @media (min-width: $breakpoint-small) { @content; }
  } @else if $breakpoint == medium {
    @media (min-width: $breakpoint-medium) { @content; }
  } @else if $breakpoint == large {
    @media (min-width: $breakpoint-large) { @content; }
  } @else if $breakpoint == xl {
    @media (min-width: $breakpoint-xl) { @content; }
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}