// Colors
$dark-green: #1F4C4C;
$light-green: #B5E8C7;
$light-brown: #E0DACE;
$dark-brown: #AA9165;
$light-background: #F5F4F0;

$font: #68645F;
$egg: #FFF6EB;

$primary-color: $dark-green;
$secondary-color: $dark-brown;
$background-color: $light-background;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;


// Typography
/*$font-family-display: 'Geologica', sans-serif;*/
$font-family-display: 'Cinzel', serif;
$font-family-base: 'Geologica', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

// Border
$border-radius-medium: 0px;
$border-radius-small: 3px;

