// Colors
$green: #1F4C4C;
$beige: #A5927C;
$font: #68645F;
$egg: #FFF6EB;

$primary-color: $green;
$secondary-color: #666;
$background-color: #f5f5f5;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;


// Typography
$font-family-display: 'Cinzel', serif;
$font-family-base: 'Trirong', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

// Border
$border-radius-medium: 0px;
$border-radius-small: 3px;

