.trirong-thin {
  font-family: "Trirong", serif;
  font-weight: 100;
  font-style: normal;
}

.trirong-extralight {
  font-family: "Trirong", serif;
  font-weight: 200;
  font-style: normal;
}

.cinzel-regular {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.material-symbols-sharp {
  font-variation-settings: 
  'FILL' 1, 
  'wght' 400, 
  'GRAD' 0, 
  'opsz' 24;
}

.geologica-regular {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 4000;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}


h1, h2, h3, h4, h5 {
  font-family: $font-family-display;
  font-weight: 400;
}

p{
  font-family: $font-family-base;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

h1, h2, h3{
  text-transform: uppercase;
}